

@media only screen and (min-width: 768px) {
	footer {
	background-color: #f6f5f4;
	margin-top: 60px;
}

.title {
	margin-bottom: 50px;
	font-size: 40px;
	letter-spacing: -1px;
	line-height: 50px;
	color: #1f373d;
	font-weight: 600;
	font-family: "Montserrat";
}

.col-md-4 {
	max-width:350px;
	height: 500px;
	border: 1px solid white;
	box-shadow: 0px 8px 16px #e5e6e5;
	background: rgb(177, 215, 232);
	box-sizing: border-box;
	float: left;
	margin-bottom: 30px;
	margin-right: 29px;
}

.addr {
	width: 348px;
	height: 120px;
	position: absolute;
	background: white;
	bottom: 0px;
    right: 0px;	
}

.addr img {
	position: absolute;
	top: 60px;
    right: 28px;
}

 span.address {
	position: relative;
	font-weight: bolder;
	top: 27px;
	left: 23px;
}

span.price {
	position: relative;
	font-weight: bolder;
	top: 57px;
	right: 225px;
	bottom: 35px;
	color: #ffcc01;
}
}